<!--<input class="form-control"-->
<!--type="text"-->
<!--placeholder="server name"-->
<!--(input)="onServerNameUpdated($event)">-->

<input class="form-control"
       type="text"
       placeholder="server name"
       [(ngModel)]="server.name"
       #ServerNameInputElement>
<button class="btn btn-primary my-3" (click)="addNewServer()">add server</button>

<p class="text-primary my-1" *ngIf="serverAdded; else marker">
  Server added with name {{server.name}}
</p>

<ng-template #marker>
  <p class="text-secondary my-1">No server added!</p>
</ng-template>
