<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="'active'"
         routerLink=""
         [routerLinkActiveOptions]="{exact: true}">Servers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         [routerLink]="['server', 'test server', 'online']">Server</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         routerLink="number-player">Number Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         routerLink="my-form">Form</a>
    </li>
  </ul>

  <!--<app-servers></app-servers>-->
  <!--<app-number-play></app-number-play>-->
  <br>
  <router-outlet></router-outlet>
</div>
